@import url('http://fonts.googleapis.com/css?family=Just+Another+Hand');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

 #map {
        height: 400px;
        width: 100%;
       }

h3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  color:blue;
   font-family: 'Bree Serif', serif;
   font-size:1.5em;
}

.eventTitle{
    font-family: 'Bree Serif', serif;
}


#nav {
    text-align: center;
}

.navlink {
    margin-left: 40px;
    font-size: 1.5em;
    border: none;
    outline-style: none;
    font-family: 'Just Another Hand', cursive;
    color: black;
}



.bandTitle {
    font-family: 'Just Another Hand', cursive;
    font-size: 1.5em;
}